<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Ma superbe messagerie</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body class="h-screen">
    <nav class="flex flex-row align-center justify-between bg-blue-200">
      <h1 class="text-xl m-5">Ma superbe messagerie</h1>
      <div class="flex flex-row items-center">
          <a class="px-5 hover:text-slate-500" href="{{ url_for('index') }}">Home</a>
          <a class="px-5 hover:text-slate-500" href="{{ url_for('register') }}">Register</a>
          <a class="px-5 hover:text-slate-500" href="{{ url_for('login') }}">Login</a>
      </div>
    </nav>
    <section class="content">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
    <script src="https://cdn.tailwindcss.com"></script>
      <script>
      tailwind.config = {
        theme: {
          extend: {

          }
        }
      }
    </script>
  </body>
</html>