<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ma superbe messagerie</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Bienvenue sur votre superbe messagerie</h1>
    </header>
    <section class="h-100">
        <div class="card flex-col m-auto">
            <a href="/login">
                Se connecter
            </a>
            <a href="/register">
                Créer un compte
            </a>
        </div>
    </section>
</body>
</html>