<div id="app">
    <div class="h-screen w-full flex flex-col absolute" v-if="showModal" @click="showModal=false">
        <div @click.stop class="m-auto w-1/3">
            <div class="p-5 shadow rounded-xl bg-white backdrop-blur flex flex-col gap-10">
                <div class="flex justify-between">
                    <h3 class="text-2xl">Nouvelle conversation</h3>
                    <button @click="showModal=false"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <form class="flex flex-col gap-3" @submit.prevent="addConversation">
                    <label for="userToAdd" class="w-max">Utilisateur à ajouter :</label>
                    <select id="userToAdd" name="userToAdd" class="bg-inherit border px-3 py-1" v-model="userToAdd.id">
                        <option v-for="user in availableUsers" :value="user.id">[[ user.username ]]</option>
                    </select>
                    <button class="bg-green-200 w-fit m-auto shadow-xl rounded-full px-5 py-2 hover:shadow-lg">Envoyer un message</button>
                </form>
            </div>
        </div>
    </div>
    <div class="flex flex-row h-screen bg-slate-100">
        <div class="w-1/4 h-full border shadow flex flex-col justify-start gap-5 relative">
            <div class="absolute top-5 right-5 flex gap-3 text-blue-800">
                <button class=""><a href="/logout"><i class="text-xl fa-solid fa-right-from-bracket hover:text-blue-500"></i></a></button>
            </div>
            <h2 class="mx-auto mt-5">[[ activeUser.username ]]</h2>
            <input class="w-3/4 shadow border rounded-full mx-auto px-3 py-1" type="text" placeholder="Rechercher une conversation" v-model="search">
            <hr class="w-3/4 mx-auto">
            <button class="mx-auto text-blue-800 px-3 py-1 border-blue-300 shadow shadow-blue-300 rounded-xl hover:bg-blue-200" @click="getNewFriends">
                <i class="fa-solid fa-user-plus"></i> Nouvelle conversation
            </button>
            <i class="fas fa-logout"></i>
            <div v-for="conversation in filteredConversations" :key="conversation.id" class="px-5 py-3 hover:bg-blue-200 flex flex-col cursor-pointer" :class="{'bg-blue-300': activeConversation?.id === conversation.id}" @click="activeConversation=conversation">
                <h4 class="text-md m-0">[[ conversation.name ]]</h4>
                <p v-if="conversation.messages.length>0" class="text-sm text-slate-600 overflow-hidden">[[ conversation.messages[conversation.messages.length - 1].content ]]</p>
            </div>
        </div>
        <div class="flex flex-col justify-end p-5 w-3/4">
            <p class="m-auto text-slate-700" v-if="activeConversation === null">Veullez selectionner une conversation...</p>
            <div v-else>
                <div class="flex flex-col gap-5 p-5 justify-start w-full">
                    <div v-for="message in activeConversation.messages" class="w-full flex" :class="message['sender_id'] === activeUser.id ? 'justify-end' : '' ">
                        <p class="border shadow rounded-xl p-3 w-fit" :class="{'bg-blue-200': message['sender_id'] === activeUser.id}">[[ message.content ]]</p>
                    </div>
                </div>
                <div class="relative">
                    <textarea class="border shadow rounded-xl resize-none px-5 py-1 w-full" placeholder="Tapez votre message" ref="textarea" @keydown.enter="sendMessage">
                    </textarea>
                    <button class="absolute bottom-5 right-5" @click="sendMessage">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/0179349a64.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script>
    new Vue({ // Again, vm is our Vue instance's name for consistency.
        el: '#app',
        delimiters: ['[[', ']]'],

        data: {
            availableUsers: [
                {
                    id: 2,
                    username: "",
                }
            ],
            userToAdd: {
                id: 0,
                name: "",
                unreadMessages: 0,
                concersations: []
            },
            showModal: false,
            activeUser:{
                id:'',
                username:'',
            },
            search: "",
            activeConversation: null,
            conversations: []
        },
        methods: {
            sendMessage() {
                const content = this.$refs.textarea.value;

                if (content.trim() === "") {
                    return;
                    this.$refs.textarea.value = "";
                }
                fetch('/api/messages', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        content: content,
                        conversation_id: this.activeConversation.id
                    })
                })
                this.getConversations(this.activeConversation.id);
                this.$refs.textarea.value = "";
            },
            autoRefresh() {
                setInterval(() => {
                    this.getConversations(this.activeConversation?.id);
                }, 1000);
            },
            addConversation() {
                this.userToAdd= this.availableUsers.find(user => user.id === this.userToAdd.id);
                const conversation = {
                    friend_id: this.userToAdd.id,
                    messages: []
                }
                fetch('/api/create_conversation', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        friend_id: this.userToAdd.id
                    })
                }).then(
                    id => id.json()
                ).then(
                    id => {
                        this.getConversations(id)
                        this.showModal = false;
                    }
                )

            },
            getConversations(activconversationId = null){
                fetch('/api/conversations')
                    .then(response => response.json())
                    .then(conversations => {
                        this.conversations = conversations;
                        if(activconversationId !== null){
                            this.activeConversation = this.conversations.find(conversation => conversation.id === activconversationId);
                        }
                    });
            },
            getActiveUser(){
                fetch('/api/user')
                    .then(response => response.json())
                    .then(user => {
                        this.activeUser = user;
                        console.log(this.activeUser)
                    });
            },
            getNewFriends(){
                fetch('/api/new_friends')
                    .then(response => response.json())
                    .then(friends => {
                        this.availableUsers = friends;
                        console.log(this.availableUsers)
                        this.showModal = true;
                    });
            }
        },
        beforeMount() {
            this.getActiveUser();
            this.getConversations();
        },
        mounted() {
            this.autoRefresh();
        },
        computed: {
            filteredConversations() {
                return this.conversations.filter(conversation => {
                    return conversation.name.toLowerCase().includes(this.search.toLowerCase());
                });
            }
        }
    })
</script>